@page
@model Oblig2Web.Pages.Reservas.ModificarReservaModel
@{
	ViewData["Titulo"] = "Modificación de Reserva";
	var message = TempData["errorMessage"] as string;
}
<div class="alert alert-primary justify-content-end" style="margin-left: 150px; margin-right: 150px" role="alert">
	<h4 class="alert-heading text-center">¡Recuerde!</h4>
	<hr />
	<p>* ¡Las reservas no pueden durar más de 30 días!</p>
	<p>* No puede hacer más de una reserva para la misma fecha.</p>
	<p>* No puede elegir hospedar más personas del máximo de la habitación elegida.</p>
</div>

@if (!string.IsNullOrEmpty(message))
{
	<div class="alert alert-danger" role="alert">
		@message
	</div>
}

<div class="card">
	<div class="card align-content-center" style="border-color: lightblue">
		<div class="card-header d-flex" style="background-color: lightblue">
			<h3 class="text-black-50 me-auto">Modificar Reserva</h3>
			<a asp-page="/Reservas/PaginaReservas" class="btn btn-primary text-black" style="background-color: white; border-color: lightblue">Ver la lista de reservas</a>
		</div>
	</div>
	<div class="card-body">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="textdanger"></div>
			<!-- Se usa asp-for para vincular el campo oculto al Id del Curso -->
			<input type="hidden" asp-for="Reserva.IdReserva" />
			<div class="container" style="padding: 30px">
				<div class="form-group row">
					<div class="col-9">
						<label class="col-6 col-form-label" asp-for="Reserva.IdUsuario"></label>
						<div class="col-6">
							<select asp-for="Reserva.IdUsuario" class="form-control mb-2">
								<option value="">Elija un Usuario &dArr;</option>
								@foreach (var item in Model.UsuariosForEach)
								{
									<option value="@item.IdUsuario">@item.Nombre </option>
								}
							</select>
							<span asp-validation-for="Reserva.IdUsuario" class="text-danger"></span>
						</div>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-9">
						<label class="col-6 col-form-label" asp-for="Reserva.HabitacionId"></label>
						<div class="col-6">
							<select asp-for="Reserva.HabitacionId" class="form-control mb-2">
								<option value="">Elija una Habitación &dArr;</option>
								@foreach (var item in Model.HabsForEach.OrderBy(h => h.NumHabitacion))
								{
									<option value="@item.IdHabitacion">@item.NumHabitacion </option>
								}
							</select>
							<span asp-validation-for="Reserva.HabitacionId" class="text-danger"></span>
						</div>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-9">
						<label class="col-6 col-form-label" asp-for="Reserva.NumeroPersonas"></label>
						<div class="col-6">
							<select asp-for="Reserva.NumeroPersonas" class="form-control mb-2">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
							</select>
							<span asp-validation-for="Reserva.NumeroPersonas" class="text-danger"></span>
						</div>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-9">
						<label class="col-6 col-form-label" asp-for="Reserva.FechaInicio"></label>
						<div class="col-6">
							<input asp-for="Reserva.FechaInicio" class="form-control mb-2" type="date" />
							<span asp-validation-for="Reserva.FechaInicio" class="text-danger"></span>
						</div>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-9">
						<label class="col-6 col-form-label" asp-for="Reserva.FechaFinal"></label>
						<div class="col-6">
							<input asp-for="Reserva.FechaFinal" class="form-control mb-2" type="date" />
							<span asp-validation-for="Reserva.FechaFinal" class="text-danger"></span>
						</div>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-9">
						<label class="col-6 col-form-label" asp-for="MetodoPago">Metodo de pago:</label>
						<div class="col-6">
							<select asp-for="MetodoPago" class="form-control mb-2">
								<option value="Tarjeta">Tarjeta</option>
								<option value="Cheque">Cheque</option>
								<option value="Efectivo">Efectivo</option>
							</select>
							<span asp-validation-for="MetodoPago" class="text-danger"></span>
						</div>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-6 offset-sm-2">
						<div class="row">
							<div class="col-sm-6">
								<input type="submit" value="Editar" class="btn btn-primary btn-block" style="background-color: cornflowerblue; border: none" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
