@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
    <br />
    <p>El Hotel Estrella del Mar cueneta con las mejores vistas de la costa de Colonia del Sacramento hacia el Rio de la Plata, acceso fácil y rápido</p>
    <p>a la playa Oreja de Negro y también piscinas interiores climatizadas para los días de mal clima.</p>
    <p>Dirijase a nuestro navegador para ver nuestras habitaciones y reservar una de estas.</p>
    <br />
    <p>¡También puede dirijirse a ver nuestras estadisticas por aqui! &darr;</p>
    <a class="btn btn-primary" asp-page="/Estadisticas/IndexEstadisticas" style="background-color: cornflowerblue; border: none">Página de Estadisticas &crarr;</a>
</div>
