@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
    <p>Dirijase a nuestro navegador para ver nuestras habitaciones y reservar una de estas.</p>
    <p>¡También puede dirijirse a ver nuestras estadisticas por aqui! &darr;</p>
    <a class="btn btn-primary" asp-page="/Estadisticas/IndexEstadisticas" style="background-color: cornflowerblue; border: none">Página de Estadisticas &crarr;</a>
</div>
